*, *::after, *::before {
  box-sizing: border-box;
}

/* #region  main */
body {
  margin: 0;
  height: 100vh;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
}

.scores {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  border: 1px solid black;
  width: 450px;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
/* #endregion */

/* #region RemoveBorders */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}
/* #endregion*/

/* #region  X and O set up */
.cell.x::before, .cell.x::after {
  background-color: blue;
}

.cell.x::before,
.grid.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.grid.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before {
  width: 135px;
  height: 135px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  content: '';
}

.cell.circle::after {
  width: 105px;
  height: 105px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  content: '';
}
/* #endregion */

.grid.x .cell:not(.x):not(.circle):hover::before,
.grid.x .cell:not(.x):not(.circle):hover::after {
  background-color: grey;
}


.cell.x::before, .cell.x::after,
.grid.x .cell:not(.x):not(.circle):hover::before,
.grid.x .cell:not(.x):not(.circle):hover::after {
  position: absolute;
  width: 15px;
  height: 135px;
  content: '';
}

.grid.circle .cell:not(.x):not(.circle):hover::before,
.grid.circle .cell:not(.x):not(.circle):hover::after {
  background-color: grey;
}

.grid.circle .cell:not(.x):not(.circle):hover::before {
  width: 135px;
  height: 135px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  content: '';
}

.grid.circle .cell:not(.x):not(.circle):hover::after {
  width: 105px;
  height: 105px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  content: '';
}

.cell.x, .cell.circle {
  cursor: not-allowed;
}

.winning-message {
  display: none;
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 5rem;
  background-color: whitesmoke;
  border: 2px solid black;
  cursor: pointer;
}

.winning-message button:hover{
  background-color: black;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.winning-message.show {
  display: flex;
}
